.footer {
  height: 520px;
  position: relative;
  @include container($desktop);
  padding: 72px 0;
  .social-list {
    @include resetUl();
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: center;
    column-gap: 30px;
    &__item {
      display: grid;
      place-items: center;
      width: 51px;
      height: 51px;
      background: var(--basic-red);
      cursor: pointer;
      &:hover {
        box-shadow: 0px 15px 20px rgba(249, 87, 46, 0.7);
      }
    }
  }
  &__follow-us {
    @include setFont($regular-font, 21px, 26px, -0.01px);
    @include zeroPaddingMargin();
    margin-top: 34px;
    text-align: center;
  }
  &__subscribe-us {
    @include setFont($regular-font, 16px, 24px, -0.00761905px);
    color: var(--lighter-black);
    max-width: 439px;
    text-align: center;
    margin: 3px auto;
  }
  .contacts {
    position: relative;
    @include resetUl();
    display: grid;
    grid-template-columns: repeat(3, min-content);
    place-content: center;

    width: 970px;
    margin: 76px auto 0;
    &__item {
      width: 200px;
      display: grid;
      place-items: center;

      &--phone,
      &--address,
      &--email {
        @include setFont($regular-font, 21px, 30px, -0.1px);
        color: var(--basic-black);
      }
      &--address-city {
        @include setFont($regular-font, 16px, 24px, -0.00761905px);
        color: var(--lighter-black);
      }
      &--email {
        border-bottom: 3px solid var(--basic-red);
        &:hover {
          color: var(--basic-red);
        }
      }
    }
    .email {
      margin-left: 126px;
      padding-right: 20px;
      &::before {
        @include setPseudo(url("assets/svg/email.svg"), 24px, 24px);
        right: 279px;
        cursor: pointer;
      }
    }
    .phone {
      padding-right: 10px;
      margin-right: 124px;
      &::before {
        @include setPseudo(url("assets/svg/phone-icon.svg"), 24px, 24px);
        left: 29px;
        top: 11px;
        cursor: pointer;
      }
    }
  }
  &::before {
    @include setPseudo("", 1720px, 1px);
    background: var(--almost-white);
    left: 78px;
    bottom: 83px;
  }
  &__wrapper {
    width: auto;
    background: var(--grey);
  }
  &__copyright {
    @include setFont($regular-font, 16px, 24px, -0.00761905px);
    margin-top: 104px;
    text-align: center;
    color: var(--lighter-black);
  }
}
