.callback-form {
  @include container($desktop);
  padding-bottom: 94px;
  .form {
    margin: 38px auto;
    width: 988px;
    &__fieldset {
      border: 4px solid var(--normal-grey);
      display: grid;
      grid-auto-flow: row;
      row-gap: 30px;
      place-items: center;
      padding-bottom: 37px;
    }
    &__legend {
      @include setFont($bolder-font, 40px, 50px, -0.2px);
      margin: 31px auto;
      padding: 0 21px;
    }
    &__paragraph {
      @include setFont($regular-font, 16px, 24px, 0.6px);
      text-transform: uppercase;
      position: relative;
      margin-left: 57px;
      &::before {
        @include setPseudo(url("assets/svg/steel-door.svg"), 46px, 69px);
        left: -61px;
        top: -13px;
      }
    }
    &__name {
      margin-top: 12px;
    }
    &__name,
    &__email,
    &__phone {
      position: relative;
      min-width: 500px;
      min-height: 60px;
      border: 1px solid var(--almost-white);
      border-radius: 4px;
      padding: 19px 0 14px 24px;
      &::placeholder {
        @include setFont($regular-font, 18px, 24px);
        color: var(--lighter-black);
      }
      &:invalid {
        outline: none;
        border: 1px solid var(--basic-red);
      }
      &:valid {
        outline: none;
      }
    }

    .input__wrapper {
      position: relative;
    }

    &__email + .form__email--label,
    &__name + .form__name--label,
    &__phone + .form__phone--label {
      display: none;
    }
    &__email, 
    &__name,
    &__phone {
      &:focus + .form__email--label, 
      &:focus + .form__name--label,
      &:focus + .form__phone--label {
        display: block;
        position: absolute;
        top: -10px;
        left: 10px;
        color: var(--basic-red);
        background: var(--basic-white);
        padding: 0 5px;
        @include setFont($regular-font, 13px, 24px);
      }
      &:focus + .form__name--label {
        top: 0;
      }

      &:invalid + .form__email--label, 
      &:invalid + .form__name--label,
      &:invalid+.form__phone--label {
        color: var(--basic-red);
      }

      &:valid + .form__email--label,
      &:valid + .form__name--label,
      &:valid + .form__phone--label {
        color: var(--lighter-black);
      }
    }


  
    &__submit-btn {
      @include resetBtn();
      margin-top: 21px;
      background: var(--basic-red);
      color: var(--basic-white);
      padding: 15px 75px;
      border-radius: 25px;
      &:hover {
        box-shadow: 0px 7px 15px rgba(249, 87, 46, 0.6);
      }
    }
    &__required-fields,
    &__privacy-politic {
      @include setFont($regular-font, 13px, 20px);
      color: var(--lighter-black);
      margin: -5px auto;
    }
    &__privacy-politic {
      color: var(--basic-red);
    }
  }
}
