@import "./variables.scss";
@import "./mixins.scss";

.header {
  @include container($desktop);
  padding: 20px 20px 20px 110px;
  display: grid;
  grid-template-columns: auto auto;
  &__logo {
    margin-top: 27px;
  }

  &__contacts {
    @include resetBtn();
    @include setFont($regular-font, 21px, 25px);
    background: no-repeat left top url("assets/svg/phone-icon.svg");
    align-self: center;
    justify-self: end;
    margin-right: 89px;
    margin-top: 15px;
    padding-left: 35px;
    color: var(--basic-black);
    z-index: 10;
    &:hover {
      color: var(--basic-red);
    }
  }
}
