.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 3;
}

.modal {
  position: relative;
  bottom: 100px;
  left: 30%;
  background: var(--basic-white);
  z-index: 4;
  width: 976px;
  height: 639px;
  &__info {
    @include setFont($regular-font, 16px, 24px, 0.65px);
    text-transform: uppercase;
    text-align: center;
    margin-top: -300px;
  }
  &::before {
    @include setPseudo('', 976px, 35px);
    top: -93px;
    z-index: 3;
    background: var(--basic-white);
  }
  legend {
    z-index: 4;
  }
}
