.promo {
  @include container($desktop);
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px 20px 20px 110px;

  &__info {
    display: grid;
    grid-auto-flow: row;
    &--heading {
      @include setFont($bolder-font, 64px, 64px, -0.5px);
      @include zeroPaddingMargin();
      margin-top: 162px;
      margin-left: -2px;
    }
    &--paragraph {
      @include setFont($regular-font, 21px, 30px, -0.01px);
      @include zeroPaddingMargin();
      margin-top: 26px;
    }
    .promo__btn-span-wrapper {
      display: grid;
      grid-template-columns: min-content auto;
    }
    &--btn {
      @include resetBtn();
      @include setFont($bolder-font, 16px, 18px);
      margin-top: 42px;
      padding: 17.48px 28px 14.52px 31px;
      width: 260px;
      background: var(--basic-red);
      box-shadow: 0px 7px 15px rgba(249, 87, 46, 0.6);
      border-radius: 25px;
      color: var(--basic-white);
      &:hover {
        box-shadow: 0px 15px 20px rgba(249, 87, 46, 0.7);
      }
    }
    &--span {
      justify-self: start;
      align-self: end;
      @include setFont($regular-font, 16px, 24px, -0.01px);
      color: var(--lighter-black);
      margin-left: 31px;
      margin-bottom: 11px;
    }
    &--scroll-down {
      display: block;
      margin-top: 241px;
      width: 299px;
      @include setFont($bolder-font, 16px, 18px, -0.01px);
      color: var(--basic-red);
      background: no-repeat left center url("assets/svg/arrows-icon-wide.svg");
      padding: 20px 30px 20px 60px;
      &:hover {
        background: no-repeat left center url("assets/svg/arrows-icon-shallow.svg");
      }
    }
  }

  &__video {
    position: relative;
    &--img-wrapper {
      position: absolute;
      width: 940px;
      height: 920px;
      top: -127px;
      right: 0;
      z-index: -1;
    }
    .play-btn {
      position: absolute;
      top: 151px;
      left: 28px;
      @include resetBtn();
      background: no-repeat url("assets/svg/play-small.svg");
      width: 260px;
      height: 300px;
      padding-top: 250px;
      @include setFont($regular-font, 21px, 30px);
      color: var(--basic-red);
      &:hover {
        background: no-repeat url("assets/svg/play-big.svg");
      }
      &__text {
        display: block;
        margin-top: 21px;
      }
    }
  }
}
